h1 {
    color: black;
  }

.Good{
    color: rgb(99, 255, 9);
    background: rgb(87, 87, 87);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
.error{
    
    color: rgb(255, 0, 0);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
      
}